body{
  margin: 0;
  text-align: center;
  font-family: 'Alata', sans-serif;
  color: #40514E;

}
h1
{margin: 0 auto 0 auto;
  color: #311d3f;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  position: relative;
  bottom: 10%;
}
h2
{
  font-family: 'Montserrat', sans-serif;
  color:#311d3f;
  font-size:2.5rem;
}
.top-container{
  background-color: #88304e;
  padding-top: 100px;
}
img{
  position: relative;
  left: 30px;
}
p{
  text-align: center;
}
hr{
  border: dotted grey 6px ;
  width: 4%;
  border-bottom: none;
  margin: 100px auto;
}
a{
  color:#311d3f;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;


}
a:hover{
  color: white;
}

.pro{
  text-decoration: underline;
}

.bottom-cloud{
  width: 20%;
  position: absolute;
  left: 100px;
  margin-top: 10px;
}
.top-cloud{

  position: relative;
  left: 400px;
  width: 20%;
  margin-top: 2px;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  line-height: 2;
}

.fire{
  width: 10%;
  float: left;
  margin-right: 30px;
}
.gku{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.btn {
	background-color:#e23e57;
	border-radius:28px;
	border:1px solid #e23e57;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
  margin:50px auto;

}
.btn:hover {
	background-color:#88304d;
}
.btn:active {
	position:relative;
	top:1px;
}
.bottom-container{

background-color: #88304e;
padding: 50px 0 20px 0;
}
.my-name{
  color: white;
  font-size: 0.75rem;
}

.top-bar{

  background-color: #88304e;

  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.top-text{
  font-size: 25px;
  color: #311d3f;
  text-align: right;
  display: inline-block;
  padding: 5px;
  position: relative;
  left: 510px;
  z-index: 1;
}
